<section class="section courses " id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h5>About Us</h5>
                    <h2 class="pb-4">What We Do?</h2>
                </div>
            </div>
        </div>
        <div class="row event_box">
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/background.webp" alt=""></a>
                        <span class="category">Enrich your experience
                        </span>
                    </div>
                    <div class="down-content">
                        <h4>From concept to launch, we create stunning, user-centric websites that elevate your brand and engage your audience.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/background.webp" alt=""></a>
                        <span class="category">Provide truthful Insights</span>
                        
                    </div>
                    <div class="down-content">
                        <h4>Web Development Tips</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/background.webp" alt=""></a>
                        <span class="category">Showcase Quality
                        Business</span>
                       
                    </div>
                    <div class="down-content">
                        
                        <h4>Latest Web Trends</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/background.webp" alt=""></a>
                        <span class="category">Make it Easier For You</span>
                        
                    </div>
                    <div class="down-content">
                       
                        <h4>Online Learning Steps</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/background.webp" alt=""></a>
                        <span class="category">Give a Chance for
                        Small Businesses</span>
                        
                    </div>
                    <div class="down-content">
                   
                        <h4>Be a WordPress Master</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/background.webp" alt=""></a>
                        <span class="category">Varity in Businesses</span>
                       
                    </div>
                    <div class="down-content">
                       
                        <h4>Full Stack Developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>