<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                © <a href="#" class="logo1">InsightHive</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                Designed By <span class="logo1">MonsterInc</span>
            </div>
        </div>
    </div>
</footer> -->

<footer>
    <div class="container">
        <div class="col-lg-12">
            <p>Copyright © 2036 InsightHive. All rights reserved. &nbsp;&nbsp;&nbsp; Design: <a
                    href="https://templatemo.com" rel="nofollow" target="_blank">MonesterInc</a> Distribution: <a
                    href="https://themewagon.com" rel="nofollow" target="_blank">MonesterInc</a></p>
        </div>
    </div>
</footer>